<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>FILMES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>

    <header>

        <div class="info">
            <img src="../static/CINEMA-E-AUDIOVISUAL.webp" alt="logo">
            <p> Melhoress fimes para assistir!</p>
        </div>

    </header>



    <footer class="rodape">

        <img src="../static/CINEMA-E-AUDIOVISUAL.webp" alt="logo">

        <p class="direitos">© Todos os direitos reservados</p>

    </footer>

</body>
</html>